<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo App</title>
    <style>
      .hidden {
        display: none;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 300px;
      }

      li {
        clear: right;
      }

      li button {
        border: none;
        color: red;
        background-color: white;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }

      .lists-wrapper,
      .todos-wrapper {
        display: inline-block;
        vertical-align: top;
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <h3>A SAMPLE VERSION OF TODO APP</h3>
    <div class="lists-wrapper">
      <h4>TODO LISTS</h4>
      <form action="/lists/create" method="POST" id="list-form">
        <label for="todolist">Create List:</label>
        <input type="text" name="todolist" id="todolist" />
        <button type="submit">Create List</button>
      </form>

      <ul id="lists">
        {% for list in lists %}
        <li>
          <input
            type="checkbox"
            class="list-completed"
            data-id="{{ list.id }}"
            {%
            if
            list.completed
            %}
            checked
            {%
            endif
            %}
          />
          <a href="/lists/{{ list.id }}">{{ list.name }}</a>
          <button class="delete-list-btn" data-id="{{ list.id }}">
            &cross;
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="todos-wrapper">
      <h4>{{ active_list.name }}</h4>
      <form id="form">
        <input type="hidden" id="list_id" value="{{ active_list.id }}" />
        <input type="text" name="description" id="description" />
        <button type="submit">Create Todo</button>
      </form>
      <div id="error" class="hidden">Something went wrong</div>
      <ul id="todos">
        {% for todo in todos %}
        <li>
          <input
            class="check-completed"
            data-id="{{ todo.id }}"
            type="checkbox"
            {%
            if
            todo.completed
            %}
            checked
            {%
            endif
            %}
          />
          {{ todo.description }}
          <button class="delete-btn" data-id="{{ todo.id }}">&cross;</button>
        </li>
        {% endfor %}
        <!-- value of data-id can be found in event.target.dataset["id"] -->
      </ul>
    </div>

    <script>
      // delete todo item
      const deleteButtons = document.getElementsByClassName("delete-btn");
      for (let i = 0; i < deleteButtons.length; i++) {
        const deleteButton = deleteButtons[i];
        deleteButton.onclick = function (event) {
          console.log("event", event);
          const todoId = event.target.dataset["id"];
          fetch("/todos/" + todoId + "/delete", {
            method: "DELETE",
          })
            .then(function () {
              const item = event.target.parentElement;
              item.remove();
              document.getElementById("error").className = "hidden";
            })
            .catch(function () {
              document.getElementById("error").className = "";
            });
        };
      }

      // delete list item
      const listdeleteButtons = document.getElementsByClassName("delete-list-btn");
      for (let i = 0; i < listdeleteButtons.length; i++) {
        const listdeleteButton = listdeleteButtons[i];
        listdeleteButton.onclick = function(event) {
            console.log("event", event);
            const listId = event.target.dataset["id"];
            fetch("/lists/" + listId + "/delete", {
                method: "DELETE"
            })
            .then(function() {
                const item = event.target.parentElement;
                item.remove();
                document.getElementById("error").className = "hidden";
                window.location.reload(true);
            })
            .catch(function() {
                document.getElementById("error").className = "";
            })
        }

      }

      //   update completed item
      const checkboxes = document.getElementsByClassName("check-completed");
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function (event) {
          console.log("event", event);
          const newCompleted = event.target.checked;
          const todoId = event.target.dataset["id"];
          fetch("/todos/" + todoId + "/set-completed", {
            method: "POST",
            body: JSON.stringify({
              completed: newCompleted,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then(function () {
              document.getElementById("error").className = "hidden";
            })
            .catch(function () {
              document.getElementById("error").className = "";
            });
        };
      }

      //   update completed list
      const list_checkboxes = document.getElementsByClassName("list-completed");
      for (let i = 0; i < list_checkboxes.length; i++) {
        const list_checkbox = list_checkboxes[i];
        list_checkbox.onclick = function (event) {
          console.log("event", event);
          const list_completed = event.target.checked;
          const todoListId = event.target.dataset["id"];
          fetch("/lists/" + todoListId + "/set-completed", {
            method: "POST",
            body: JSON.stringify({
              list_completed: list_completed,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then(function () {
              document.getElementById("error").className = "hidden";
              window.location.reload(true);
            })
            .catch(function () {
              document.getElementById("error").className = "";
            });
        };
      }

      //   create todo item
      document.getElementById("form").onsubmit = function (event) {
        event.preventDefault();
        fetch("/todos/create", {
          method: "POST",
          body: JSON.stringify({
            description: document.getElementById("description").value,
            list_id: document.getElementById("list_id").value,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (jsonResponse) {
            console.log(jsonResponse);
            const liItem = document.createElement("LI");
            liItem.innerHTML = jsonResponse.description;
            document.getElementById("todos").appendChild(liItem);
            document.getElementById("error").className = "hidden";
            window.location.reload(true);
          })
          .catch(function () {
            document.getElementById("error").className = "";
          });
      };

      //   create list item
      document.getElementById("list-form").onsubmit = function (event) {
        event.preventDefault();
        fetch("/lists/create", {
          method: "POST",
          body: JSON.stringify({
            name: document.getElementById("todolist").value,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (jsonResponse) {
            const liItem = document.createElement("LI");

            liItem.innerHTML = jsonResponse.name;
            document.getElementById("lists").appendChild(liItem);
            document.getElementById("error").className = "hidden";
            window.location.reload(true);
          })
          .catch(function (err) {
            document.getElementById("error").className = "";
          });
      };
    </script>
  </body>
</html>
